# requirements.txt  ─── solo las líneas clave ───
numpy>=1.26,<2.0 
--extra-index-url https://download.pytorch.org/whl/cpu   # ← agrega, no reemplaza
torch==2.2.2+cpu                                         # wheel ligero

fastapi
uvicorn
openai
openai-whisper
#edge-tts
#edge-tts==6.0.9
edge-tts==7.0.2
scipy
pydantic
requests
python-multipart
